.game {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.game > div {
    width: 100%;
}

.game > .header {
    position: absolute;
    top: 0;
}

.game > .canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--canvas-width);
    height: var(--canvas-height);
}

.game > .canvas > .tower {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
    padding: var(--tower-padding);
    padding-top: var(--tower-padding-top);
    margin: var(--tower-margin);
    margin-bottom: var(--tower-margin-bottom);
    width: var(--tower-width);
    height: var(--tower-height);
    border-radius: var(--tower-border-radius);
    background: var(--black);
}

.game > .canvas > .selected {
    top: var(--tower-select);
    animation: selectedAnimation 0.2s ease;
}

.game > .canvas > .selected > .brick:nth-child(1) {
    filter: drop-shadow(-1px -1px 0 var(--black))
            drop-shadow(1px -1px 0 var(--black))
            drop-shadow(-1px 1px 0 var(--black))
            drop-shadow(1px 1px 0 var(--black));
    top: var(--brick-select);
    animation: brickAnimation 0.2s ease;
}

.game > .canvas > .error {
    animation: towerError 0.2s ease;
}

@keyframes selectedAnimation {
    0% { top: 0px; }
    100% { top: var(--tower-select); }
}

@keyframes brickAnimation {
    0% { top: 0px; }
    100% { top: var(--brick-select); }
}

@keyframes towerError {
    0% { left: 0px; }
    25% { left: 4px; }
    50% { left: -4px; }
    75% { left: 4px; }
    100% { left: 0px; }
}

.game > .canvas > .tower > .brick:nth-child(10) {
    z-index: 1;
}

.game > .canvas > .tower > .brick:nth-child(9) {
    z-index: 2;
}

.game > .canvas > .tower > .brick:nth-child(8) {
    z-index: 3;
}

.game > .canvas > .tower > .brick:nth-child(7) {
    z-index: 4;
}

.game > .canvas > .tower > .brick:nth-child(6) {
    z-index: 5;
}

.game > .canvas > .tower > .brick:nth-child(5) {
    z-index: 6;
}

.game > .canvas > .tower > .brick:nth-child(4) {
    z-index: 7;
}

.game > .canvas > .tower > .brick:nth-child(3) {
    z-index: 8;
}

.game > .canvas > .tower > .brick:nth-child(2) {
    z-index: 9;
}

.game > .canvas > .tower > .brick:nth-child(1) {
    z-index: 10;
}

.game > .canvas > .tower > .brick {
    position: relative;
    width: var(--brick-width);
    height: var(--brick-height);
    margin-top: var(--brick-margin-top);
}

.game > .canvas > .tower > .brick > .image {
    width: var(--image-width);
    height: var(--image-height);
}

.game > .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
}

.game > .footer > div {
    position: relative;
    margin: 12px 24px;
}

.game > .footer > div > .count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    outline: solid 2px var(--black);
    background: var(--yellow);
    width: 24px;
    height: 24px;
    top: -12px;
    right: -12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100%;
    z-index: 1;
}

.game > .footer > div > .button > button {
    background: none;
    cursor: pointer;
    opacity: 0.8;
}

.game > .footer > div > .button > button > img {
    filter: drop-shadow(-1px -1px 0 var(--black))
            drop-shadow(1px -1px 0 var(--black))
            drop-shadow(-1px 1px 0 var(--black))
            drop-shadow(1px 1px 0 var(--black))
            drop-shadow(0px 2px 0 var(--black))
            drop-shadow(0px 3px 0 var(--black));
    width: 40px;
}