.home {
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.home > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.home > .header > .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 44px;
}

.home > .header > .logo > img {
    width: 256px;
    filter: drop-shadow(-2px -2px 0 var(--white)) drop-shadow(2px -2px 0 var(--white)) drop-shadow(-2px 2px 0 var(--white)) drop-shadow(2px 2px 0 var(--white));
}

.home > .layout > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24px;
}

.home > .layout > div > button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    opacity: 0.8;
    transition: 0.3s;
    width: 100%;
    font-size: 30px;
    letter-spacing: 1px;
}

.home > .layout > div > button:active {
    opacity: 1;
    letter-spacing: 5px;
}

.home > .layout > div > button > b {
    text-transform: uppercase;
    color: var(--white);
    text-shadow: -1px -1px 0 var(--black),
                 1px -1px 0 var(--black),
                 -1px 1px 0 var(--black),
                 1px 1px 0 var(--black),
                 0px 2px 0 var(--black),
                 0px 3px 0 var(--black),
                 0px 4px 0 var(--black),
                 0px 5px 0 var(--black);
    font-weight: 600;
}

.home > .layout > div > button > img {
    width: 40px;
    margin-right: 16px;
    filter: drop-shadow(-1px -1px 0 var(--black))
            drop-shadow(1px -1px 0 var(--black))
            drop-shadow(-1px 1px 0 var(--black))
            drop-shadow(1px 1px 0 var(--black))
            drop-shadow(0px 2px 0 var(--black));
}