.sections {
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.sections > .layout {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: calc(100vh - 170px);
    padding: 32px 16px;
}

.sections > .layout > .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.4) transparent;
    background: var(--transparent-black);
    outline: solid 2px var(--black);
    transition: 0.3s;
    width: 100%;
    padding-right: 16px;
    border-radius: 4px;
    height: 46px;
    margin-bottom: 32px;
}

.sections > .layout > .closed {
    cursor: default;
}

.sections > .layout::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

.sections > .layout::-webkit-scrollbar-track {
    background: transparent;
    margin: 0;
}

.sections > .layout::-webkit-scrollbar-thumb {
    background-color: var(--transparent-black);
    border-radius: 10px;
}

.sections > .layout::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.sections > .layout > .section:active {
    transform: scale(0.95);
}

.sections > .layout > .closed:active {
    transform: none;
}

.sections > .layout > .section > .number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -6px;
    text-align: center;
    background-size: cover;
    filter: drop-shadow(-1px -1px 0 var(--black))
            drop-shadow(1px -1px 0 var(--black))
            drop-shadow(-1px 1px 0 var(--black))
            drop-shadow(1px 1px 0 var(--black));
    font-size: 28px;
    font-weight: 700;
    padding: 16px;
    width: 64px;
    height: 64px;
}

.sections > .layout > .section > .number > img {
    position: relative;
    filter: drop-shadow(-1px -1px 0 var(--black))
            drop-shadow(1px -1px 0 var(--black))
            drop-shadow(-1px 1px 0 var(--black))
            drop-shadow(1px 1px 0 var(--black));
    top: 4px;
    width: 36px;
}

.sections > .layout > .section > .number > span {
    position: relative;
    color: var(--white);
    text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black), 0px 3px 0 var(--black), 1px 3px 0 var(--black), -1px 3px 0 var(--black);
    top: 4px;
}

.sections > .layout > .section > .percent > span {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}

.sections > .layout > .section > .stars {
    display: flex;
    align-items: center;
}

.sections > .layout > .section > .stars > img {
    width: 18px;
    margin-right: 6px;
}

.sections > .layout > .section > .stars > span {
    color: var(--yellow);
    font-size: 16px;
    font-weight: 500;
}

.sections > .layout > .closed > .percent {
    text-align: center;
    width: 100%;
}

.sections > .layout > .closed > .percent > span {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.8;
}